<!-- header -->
<div class="container header__container">
    <div class="row">
        <div class="col-md-12 text-center">

            <ul class="list-unstyled">
                <li>
                    <a href="#intro">INTRO</a>
                </li>
                <li>
                    <a href="https://github.com/sourcetoad/backbone-starter/blob/master/README.md" target="_blank">DOCS</a>
                </li>
                <li>
                    <a href="https://github.com/sourcetoad/backbone-starter" target="_blank">GITHUB</a>
                </li>
            </ul>

            <br>
            <img src="img/tadpole.png" height="75px">
            <br>
            <br>
            <h1 class="brand">Tadpole</h1>
            <br>
            <h2>A lightweight starter kit for your backbone.js projects.</h2>
            <br>
            <br>
            <a href="https://github.com/sourcetoad/backbone-starter" target="_blank">
                <button class="btn btn-success btn-green">Visit the GitHub</button>
            </a>

        </div>
    </div>
</div> <!-- /header -->



<!-- info -->
<div class="container info__container">
    <div class="row text-center">
        <div class="col-md-4">

            <i class="fa fa-code">&nbsp;</i>
            <h3>Command Line Generators</h3>

        </div>
        <div class="col-md-4">

            <i class="fa fa-code-fork">&nbsp;</i>
            <h3>Gulp.js Build Automation</h3>

        </div>
        <div class="col-md-4">

            <i class="fa fa-briefcase">&nbsp;</i>
            <h3>Package Management</h3>

        </div>
    </div>
</div> <!-- /info -->



<!-- Intro -->
<div class="container intro__container" id="intro">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">

            <h2>Intro</h2>

            <br>

            <p>Tadpole is a boilerplate scaffold for projects built on backbone.js. It's designed to kickstart backbone application development by providing a boilerplate including powerful generators, gulp.js automation, package management, and more.</p>

            <br>

            <p>To get started or learn more about Tadpole head to the GitHub. That's where you'll find examples, documentation, and downloads.</p>

        </div>
        <div class="col-md-2"> </div>
    </div>
</div> <!-- /intro -->



<!-- Docs -->
<div class="container docs__container">
    <div class="row">
        <div class="col-md-12 text-center">

            <a href="https://github.com/sourcetoad/backbone-starter" target="_blank">
                <button class="btn btn-success btn-green">Visit the documention on GitHub</button>
            </a>


        </div>
    </div>
</div> <!-- /docs -->



<!-- Footer -->
<div class="container footer__container">
    <div class="row">
        <div class="col-md-12 text-center">

            <a href="http://www.sourcetoad.com" target="_blank"><span class="green">
                <hr>
                <img src="img/Sourcetoad_WEB.png" height="125px">
                <h4>Made by <span class="green">SourceToad</span></h4>
                <br>
            </a>

        </div>
    </div>
</div> <!-- /footer -->







